<!doctype html>
<html lang="en">
	<head>
	<style>

	</style>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
		<link rel="stylesheet" href="stylesheet.css">
		  </head>

		  <body>

				<nav class="navbar navbar-expand-lg navbar-light  mb-5 text">
					<a class="navbar-brand" href="index.html.php">PineTree</a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>

					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav mr-auto">
							<li class="nav-item active">
								<a class="nav-link" href="index.html.php">Home <span class="sr-only">(current)</span></a>
							</li>

							<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="login.html.php" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Login
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="login.html.php">Login</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="account.html.php">My Account</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="editaccount.html.php">Edit Account</a>

						</div>
					</li>

					<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Catergories
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="sculptures.html.php">Scultures</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="personilised.html.php">Personilised</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="limitededitions.html.php">Limited editions</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="paintings.html.php">Paintings</a>

				</div>
			</li>

							<li class="nav-item-active">
								<a class="nav-link" href="products.html.php"> Products</a>
							</li>

							<li class="nav-item-active">
								<a class="nav-link" href="social.html.php">Social</a>
							</li>


						</ul>
						<form class="form-inline my-2 my-lg-0">
							<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
							<button class="btn btn-outline my-2 my-sm-0" type="submit">Search</button>
						</form>
					</div>
				</nav>
